{% extends 'main/base.html'%}

{% block title %}Форма по изменению статьи{% endblock %}

{% block content %}
    <div class="features">
        <h1>Редактирование статьи</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.announcement }}<br>
            {{ form.full_text }}<br>
            {{ form.date }}<br>
            {{ form.time }}<br>
            <span>{{ error }}</span>
            <button class="btn btn-success change" type="submit">Изменить</button>
        </form>
    </div>
{% endblock %}